<div class="bgh">
<h1><img src="../assets/logo.jpeg" alt="Music" width="80px" height="80">Welcome to <span class="title">TruBeat</span>!!</h1>

<div class="container-fluid">
    <header id="main-header">
      <h4 class="primary">Our Subscription Plans..!!!</h4>
      <p class="secondary">Perfect for any Music lovers.</p>
      <p class="gray small-text">
        Gain access to our TruBeat Audio songs along with unintreptted music. 
        
      </p>
    </header>


    <div class="row ">

        <div class="col">
         <div class="card">
            <div class="card-body">

            <section id="price">
                <h4 class="card-title">Monthly Subscription</h4>
                <p class="card-text"><span class="large-text1">&#8377;150</span><span class="rgba(92, 90, 90, 0.25)"></span></p>
                <p class="card-text"><span class="large-text">&#8377;99</span><span class="rgba(92, 90, 90, 0.25)">  per month</span></p>
                <p class="small-text">Full access for less than &#8377;4 a day</p>
                <button [ngClass]= "flag?'btn btn-success':'btn btn-danger'" (click)= "M1()">{{btnVal}}</button>
            </section>
        </div>
    </div>
  </div>
       
<div class="col">
    <div class="card">
      <div class="card-body">

          <section id="price">
              <h4 class="card-title">3-Months Subscription</h4>
              <p class="card-text"><span class="large-text1">&#8377;230</span><span class="rgba(92, 90, 90, 0.25)"></span></p>
              <p class="card-text"><span class="large-text">&#8377;230</span><span class="rgba(92, 90, 90, 0.25)"> for 3 months</span></p>
              <p class="small-text">Full access and save upto 20%</p>
              <button [ngClass]= "flag1?'btn btn-success':'btn btn-danger'" (click)="M3()">{{btnVal1}}</button>
          </section>
      </div>
  </div>
</div>

<div class="col">
  <div class="card">
    <div class="card-body">

        <section id="price">
            <h4 class="card-title">6-Months Subscription</h4>
            <p class="card-text"><span class="large-text1">&#8377;594</span><span class="rgba(92, 90, 90, 0.25)"></span></p>
            <p class="card-text"><span class="large-text">&#8377;445</span><span class="rgba(92, 90, 90, 0.25)"> for 6 months</span></p>
            <p class="small-text">Full access and save upto 25%</p>
            <button [ngClass]= "flag2?'btn btn-success':'btn btn-danger'" (click)="M6()">{{btnVal2}}</button>
        </section>
    </div>
</div>
</div>
    </div>
    >

<div class="row">

    <div class="col">
<div class="card">
    <div class="card-body">

        <section id="price">
            <h4 class="card-title">9-Months Subscription</h4>
            <p class="card-text"><span class="large-text1">&#8377;891</span><span class="rgba(92, 90, 90, 0.25)"></span></p>
            <p class="card-text"><span class="large-text">&#8377;641</span><span class="rgba(92, 90, 90, 0.25)"> for 9 months</span></p>
            <p class="small-text">Full access and save upto 28%</p>
            <button [ngClass]= "flag3?'btn btn-success':'btn btn-danger'" (click)="M9()">{{btnVal3}}</button>
        </section>
    </div>
</div>
    </div>



<div class="col">
<div class="card">
    <div class="card-body">

        <section id="price">
            <h4 class="card-title">12-Months Subscription</h4>
            <p class="card-text"><span class="large-text1">&#8377;1,188</span><span class="rgba(92, 90, 90, 0.25)"></span></p>
            <p class="card-text"><span class="large-text">&#8377;831</span><span class="rgba(92, 90, 90, 0.25)"> for 12 months</span></p>
            <p class="small-text">Full access and save upto 30%</p>
            <button [ngClass]= "flag4?'btn btn-success':'btn btn-danger'" (click)="M12()">{{btnVal4}}</button>
        </section>
    </div>
</div>
</div>

<div class="col">
    <div class="card">
        <div class="card-body">
    
            <section id="price">
                <h4 class="card-title">Life time Subscription</h4>
                <p class="card-text"><span class="large-text1">&#8377;20,000</span><span class="rgba(92, 90, 90, 0.25)"></span></p>
                <p class="card-text"><span class="large-text">&#8377;15,000</span><span class="rgba(92, 90, 90, 0.25)"> for Life Time</span></p>
                <p class="small-text">Full access for life Time and Enjoy </p>
                <button [ngClass]= "flag5?'btn btn-success':'btn btn-danger'" (click)="M10()">{{btnVal5}}</button>
            </section>
        </div>
    </div>
        </div>

</div>


</div>
</div>




